<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets
            'assets/css/bootstrap.min.css'
            'assets/css/style.css'
            filter='cssrewrite' output='assets/css/compiled/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
    {% block nav %}
    {{ include('includes/navbar.html.twig') }}
    {% endblock %}
        <div class="container-fluid">
        {% block body %}{% endblock %}
        </div>
        {% block footer %}
        {{ include('includes/footer.html.twig') }}
        {% endblock %}
        {% javascripts
            'assets/js/jquery.min.js'
            'assets/js/bootstrap.min.js'
            'assets/js/script.js'

            output='assets/js/compiled/app.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
