{% block body %}
        {% for article in articles %}
        <div class='row'>
            <div class= "well">
                <h3>{{ article.title }}</h3>
                {% if article.published !=1 %}
                <p><span>Not Published Yet</span></p>
                {% endif %}
                <p>{{ article.category }}
                <p>{{ article.content }}</p>
                <p>created at: {{ article.createdAt|date('d-m-Y') }} {% if article.updatedAt != article.createdAt %}Edited {% endif %}</p>
                <p>by : {{ article.user.username }}</p>
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                <a href="{{ path('article_edit', { 'id': article.id }) }}">edit</a>
                {% endif %}
            </div>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse{{ article.id }}" aria-expanded="false" aria-controls="collapseExample">
            Comment {{ article.getCommentsCount }}
            </button>
            <div class="collapse" id="collapse{{ article.id }}">
                <div class="well comments">
                    {% if is_granted("ROLE_USER") %}
                        <form name="appbundle_comment" method="post" action={{ path('comment_new') }}>
                            <div id="appbundle_comment">
                                <div>
                                    <label for="appbundle_comment_content" class="required">Content</label>
                                    <textarea id="appbundle_comment_content" name="appbundle_comment[content]" required="required"></textarea>
                                </div>
                                <div>
                                    <label for="appbundle_comment_article">Article</label>
                                    <input type="hidden" id="appbundle_comment_article" name="appbundle_comment[article]" value="{{ article.id }}">
                                </div>
                                <input type="hidden" id="appbundle_comment__token" name="appbundle_comment[_token]" value="ZyE30fEeQShYRuH6M_uqqayVK8rtkSt_sW5W19sAXVQ"></div>
                            <input type="submit" value="Create">
                        </form>
                    {% else %}
                    {% endif %}

                    {% for comment in article.comments %}
                        <p>posted by <strong>{{ comment.user }}</strong> at  {{ comment.createdAt|date('d-m-Y') }}</p>
                        <p>{{ comment.content }}
                    {% endfor %}
                </div>
            </div>
            </div>









        {% endfor %}

    <ul>
        <li>
            <a href="{{ path('article_new') }}">Create a new article</a>
        </li>
    </ul>
{% endblock %}
